@import "./colors.scss";

* {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input[type="password"],
input[type="email"],
input[type="text"] {
  border: 1px solid $primaryLight;
  line-height: 32px;
  border-radius: 4px;
  padding: 0px 40px 0px 8px;

  &:focus {
    outline-color: $primaryLight;
  }
}

button {
  background-color: $primary;
  padding: 16px 8px;
  border-radius: 8px;
  border: none;
  
  font-size: 16px;
  color: $white;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  &:disabled {
    background-color: $disabledBackground;
    color: $disabledColor;
    cursor: not-allowed;

    &:hover {
      opacity: 1;
    }
  }
}

body {
  background-color: $background;
}

